Repository derickladwig/EasySale: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: Setup wizard scrolling when zoomed in or on small screens
  frontend/src/admin/pages/SetupWizard.module.css
Due: frontend

fix: Card body scrolls when zoomed in - content always accessible
  frontend/src/admin/pages/SetupWizard.module.css
Due: frontend

fix: CI pipeline - disable Python services, make security audit non-blocking
  .github/workflows/ci.yml
Due: none

fix: Disable Python/backup dependency checks (folder not in repo)
  .github/dependabot.yml
  .github/workflows/dependency-update.yml
Due: none

chore: Remove Python backup folder - Rust backend handles all backup functionality
  .gitignore
Due: none

fix: Update branding - proper EasySale logos, theme-aware login page
  frontend/public/assets/favicons/favicon-16x16.png
  frontend/public/assets/favicons/favicon-32x32.png
  frontend/public/assets/favicons/favicon.ico
  frontend/public/assets/icons/icon-64.png
  frontend/public/assets/icons/icon-dark.png
  frontend/public/assets/icons/icon-light.png
  frontend/public/assets/logos/logo-dark-256.png
  frontend/public/assets/logos/logo-dark.png
  frontend/public/assets/logos/logo-light-256.png
  frontend/public/assets/logos/logo-light.png
  frontend/public/favicon.ico
  frontend/public/logo.svg
  frontend/src/auth/pages/LoginPage.tsx
  frontend/src/config/brandConfig.ts
Due: frontend

fix: Build scripts now set version and build hash for production
  Dockerfile.backend
  build-prod.bat
  frontend/Dockerfile
Due: none

feat: Display user's assigned station in sidebar footer
  frontend/src/AppLayout.tsx
  frontend/src/common/contexts/AuthContext.tsx
Due: frontend

fix: Correct useStations import path in AppLayout
  frontend/src/AppLayout.tsx
Due: frontend

fix: Product import templates now have proper demo data
  frontend/src/admin/components/wizard/ImportStepContent.tsx
  frontend/src/products/pages/ProductImportPage.tsx
Due: frontend

fix: Theme colors and branding now apply consistently everywhere
  configs/default.json
  frontend/src/admin/components/wizard/ImportStepContent.tsx
  frontend/src/auth/accessibility/FocusIndicator.tsx
  frontend/src/auth/pages/LoginPage.tsx
  frontend/src/config/defaultConfig.ts
  frontend/src/domains/backup/api.ts
  frontend/src/domains/backup/types.ts
  frontend/src/products/pages/ProductImportPage.tsx
Due: frontend

feat(v1.2.0): Complete feature flags, setup wizard fixes, and multi-store tracking
  CHANGELOG.md
  README.md
  backend/crates/server/src/handlers/product.rs
  backend/crates/server/src/handlers/review_cases.rs
  backend/crates/server/src/handlers/sales.rs
  backend/crates/server/src/handlers/vendor_bill.rs
  backend/crates/server/src/main.rs
  backend/migrations/056_bill_files_table.sql
  backend/migrations/057_stock_adjustments_location.sql
  build-prod.bat
  build-prod.sh
  docs/INSTALL.md
  frontend/src/AppLayout.tsx
  frontend/src/admin/components/CategoryManagement.tsx
  frontend/src/admin/components/wizard/BrandingStepContent.tsx
  frontend/src/admin/pages/SetupWizardPage.tsx
  frontend/src/auth/pages/LoginPage.tsx
  frontend/src/common/utils/apiClient.ts
  frontend/src/common/utils/buildVariant.ts
  frontend/src/lookup/pages/LookupPage.tsx
  frontend/src/products/pages/ProductImportPage.tsx
  frontend/src/sell/components/CouponModal.tsx
  frontend/src/sell/pages/SellPage.tsx
Due: frontend, backend

fix: correct UserContext import path in review_cases.rs
  backend/crates/server/src/handlers/review_cases.rs
Due: backend

feat: Global branding theming, tax display, and UI improvements
  CHANGELOG.md
  README.md
  backend/crates/server/src/handlers/company.rs
  backend/crates/server/src/handlers/mod.rs
  backend/crates/server/src/handlers/user_handlers.rs
  backend/crates/server/src/main.rs
  frontend/src/AppLayout.tsx
  frontend/src/admin/components/wizard/BrandingStepContent.tsx
  frontend/src/admin/components/wizard/ImportStepContent.tsx
  frontend/src/admin/pages/AdminPage.tsx
  frontend/src/common/components/organisms/BottomNav.tsx
  frontend/src/common/components/organisms/PageTabs.tsx
  frontend/src/common/components/organisms/Sidebar.tsx
  frontend/src/common/components/organisms/TopBar.tsx
  frontend/src/common/hooks/useDisplaySettings.ts
  frontend/src/components/review/ReviewQueueIntegrated.tsx
  frontend/src/domains/product/api.ts
  frontend/src/inventory/components/TransfersTab.tsx
  frontend/src/lookup/pages/LookupPage.tsx
  frontend/src/nav/tabsConfig.ts
  frontend/src/products/pages/ProductImportPage.tsx
  frontend/src/sell/pages/SellPage.tsx
  frontend/src/settings/pages/HardwarePage.tsx
  frontend/src/settings/pages/IntegrationsPage.tsx
  frontend/src/settings/pages/NetworkPage.tsx
Due: frontend, backend

fix: resolve Rust compilation errors in reporting and auth handlers
  backend/crates/server/src/handlers/auth.rs
  backend/crates/server/src/handlers/reporting.rs
Due: backend

fix: change SameSite cookie policy from Strict to Lax for better compatibility
  backend/crates/server/src/handlers/auth.rs
Due: backend

fix: add unsafe-eval to CSP for validation libraries
  frontend/nginx.conf
  frontend/vite.config.ts
Due: none

fix: Replace hardcoded Tailwind colors with semantic tokens and add tenant isolation to reporting queries
  backend/crates/server/src/handlers/reporting.rs
  frontend/src/admin/pages/AdminPage.tsx
  frontend/src/auth/background/BackgroundRenderer.tsx
  frontend/src/auth/pages/LoginPage.tsx
  frontend/src/common/hooks/useDisplaySettings.ts
  frontend/src/sell/pages/SellPage.tsx
  frontend/src/styles/tokens.css
Due: frontend, backend

docs: Update steering docs with 2026-01-30 status and implement remaining review fixes
  .kiro/DEVELOPMENT_LOG.md
  .kiro/specs/advanced-features-completion/tasks.md
  .kiro/steering/product.md
  .kiro/steering/tech.md
  backend/crates/server/src/handlers/conflicts.rs
  backend/crates/server/src/handlers/reporting.rs
  frontend/src/test/properties/route-registry-enforcement.property.test.ts
Due: backend

fix: Complete code review fixes - OAuth validation, SQL injection prevention, and cleanup improvements
  backend/crates/server/src/handlers/cleanup.rs
  backend/crates/server/src/handlers/conflicts.rs
  backend/crates/server/src/handlers/integrations.rs
  backend/crates/server/src/handlers/layaway.rs
  copy-to-production.ps1
  do-copy.ps1
  docker-stop.bat
  docker-stop.sh
  setup.sh
Due: backend

3
  frontend/audit/submission_cleanup/scripts/bundle-budget-check.js
  frontend/e2e/document-workflow.spec.ts
  frontend/scripts/check-bundle-budget.js
  frontend/scripts/check-hardcoded-colors.js
  frontend/src/App.tsx
  frontend/src/admin/components/AdminLayout.tsx
  frontend/src/admin/components/CreateUserModal.tsx
  frontend/src/admin/components/IntegrationCard.tsx
  frontend/src/admin/components/wizard/BrandingStepContent.tsx
  frontend/src/admin/components/wizard/ImportStepContent.tsx
  frontend/src/admin/components/wizard/StoreStepContent.tsx
  frontend/src/admin/components/wizard/TestStepContent.tsx
  frontend/src/features/products/components/BulkOperations.tsx
  frontend/src/inventory/pages/InventoryPage.tsx
  frontend/src/reporting/pages/ReportingPage.tsx
  frontend/src/sell/pages/SellPage.tsx
  frontend/src/settings/pages/HardwarePage.tsx
  frontend/src/settings/pages/IntegrationsPage.tsx
  frontend/src/settings/pages/OAuthCallbackPage.tsx
  frontend/src/settings/pages/SyncHistoryPage.tsx
  frontend/src/setup/pages/FirstRunSetupPage.tsx
Due: frontend

feat: Enhanced import wizard with demo data and category browser
  backend/crates/server/src/handlers/data_management.rs
  backend/crates/server/src/main.rs
  data/demo-import/demo_customers.csv
  data/demo-import/demo_products.csv
  data/demo-import/demo_vendors.csv
  data/demo-import/images/README.md
  data/demo-import/images/placeholder.svg
  frontend/audit/submission_cleanup/scripts/bundle-budget-check.js
  frontend/e2e/document-workflow.spec.ts
  frontend/scripts/check-bundle-budget.js
  frontend/scripts/check-hardcoded-colors.js
  frontend/src/App.tsx
  frontend/src/admin/components/AdminLayout.tsx
  frontend/src/admin/components/CreateUserModal.tsx
  frontend/src/admin/components/IntegrationCard.tsx
  frontend/src/admin/components/wizard/BrandingStepContent.tsx
  frontend/src/admin/components/wizard/ImportStepContent.tsx
  frontend/src/admin/components/wizard/StoreStepContent.tsx
  frontend/src/admin/components/wizard/TestStepContent.tsx
  frontend/src/features/products/components/BulkOperations.tsx
  frontend/src/inventory/pages/InventoryPage.tsx
  frontend/src/products/pages/CategoryLookupPage.tsx
  frontend/src/reporting/pages/ReportingPage.tsx
  frontend/src/routes/lazyRoutes.tsx
  frontend/src/sell/pages/SellPage.tsx
  frontend/src/settings/pages/HardwarePage.tsx
  frontend/src/settings/pages/IntegrationsPage.tsx
  frontend/src/settings/pages/OAuthCallbackPage.tsx
  frontend/src/settings/pages/SyncHistoryPage.tsx
  frontend/src/setup/pages/FirstRunSetupPage.tsx
Due: frontend, backend

fix: Implement planned features instead of removing unused imports
  frontend/src/components/review/CleanupShieldTool.tsx
  frontend/src/components/review/CleanupTab.tsx
  frontend/src/components/review/ZoneEditor.tsx
  frontend/src/components/review/unused-components-review/ZoneEditor.tsx
  frontend/src/inventory/pages/InventoryPage.tsx
  frontend/src/legacy_quarantine/components/Navigation.stories.tsx
  frontend/src/sell/components/CustomerSearchModal.tsx
  frontend/src/sell/pages/QuotesPage.tsx
Due: frontend

docs: Update DEVLOG and CHANGELOG with Phase 13-14 changes
  .gitignore
  .kiro/specs/advanced-features-completion/design.md
  .kiro/specs/advanced-features-completion/requirements.md
  .kiro/specs/sync-monitoring-ui/design.md
  .kiro/specs/sync-monitoring-ui/requirements.md
  .kiro/specs/sync-monitoring-ui/tasks.md
  CHANGELOG.md
  DEVLOG.md
  audit/ROUTE_REGISTRY_DIFF.md
  docs/blog/2026-01-15-sync-infrastructure-milestone.md
  docs/blog/2026-01-18-settings-consolidation-and-ocr-enhancements.md
  docs/blog/2026-01-19-woocommerce-sync-flows-operational.md
  docs/blog/2026-01-20-services-wired-and-code-analysis.md
  docs/blog/2026-01-24-frontend-cleanup-and-domain-focus.md
  docs/blog/2026-01-25-split-build-system-complete.md
  docs/blog/2026-01-30-final-polish-and-production-ready.md
Due: none

1
  backend/crates/server/src/handlers/data_management.rs
  backend/crates/server/src/lib.rs
  backend/crates/server/src/main.rs
  backend/crates/server/src/utils/csv_validation.rs
  backend/crates/server/src/utils/mod.rs
  backend/crates/server/tests/review_cases_detail_test.rs
Due: backend

docs: Update README with v1.2.3 features and cleanup unused import
  README.md
  backend/crates/server/src/handlers/layaway.rs
  backend/crates/server/src/utils/csv_validation.rs
Due: backend

fix(login): Reduce header logo size and remove redundant company name text
  frontend/src/auth/pages/LoginPage.tsx
Due: frontend

docs: Update DEVLOG and CHANGELOG with Phase 15 changes
  CHANGELOG.md
  DEVLOG.md
Due: none

fix(dev): Add Vite proxy for /api and /auth routes
  frontend/vite.config.ts
Due: none

fix(scripts): Ensure all batch files stay open to show errors
  backend/Cargo.lock
  build-dev.bat
  docker-clean.bat
  start-dev.bat
  stop-dev.bat
  stop-prod.bat
  update-dev.bat
  update-prod.bat
Due: none

docs: add hackathon development story with AI workflow details
  .kiro/DEVELOPMENT_LOG.md
  DEVLOG.md
  README.md
Due: none

fix(auth): resolve login redirect loop and setup wizard access
  backend/crates/capabilities/src/provider.rs
  backend/crates/server/src/handlers/cleanup.rs
  backend/crates/server/src/handlers/payments.rs
  backend/crates/server/src/handlers/reocr.rs
  backend/crates/server/src/handlers/vendor_bill.rs
  backend/crates/server/src/middleware/context.rs
  frontend/src/App.tsx
  frontend/src/AppLayout.tsx
  frontend/src/admin/hooks/useStations.ts
  frontend/src/auth/pages/LoginPage.tsx
  frontend/src/common/contexts/AuthContext.tsx
  frontend/src/common/contexts/TenantSetupContext.tsx
  frontend/src/common/utils/apiClient.ts
  frontend/src/config/ConfigProvider.tsx
  frontend/src/services/brandingApi.ts
  frontend/src/services/capabilities.ts
  frontend/src/services/settingsApi.ts
  frontend/src/services/syncApi.ts
Due: frontend, backend

docs: add demo video link to README
  README.md
Due: none

1
  backend/crates/server/src/middleware/context.rs
Due: backend

fix: remove unused toBrandConfig import in ConfigProvider
  frontend/src/config/ConfigProvider.tsx
Due: frontend

1
  audit/ROUTE_REGISTRY_DIFF.md
Due: none

[BLOG] Memory Bank & Blog Gap Analysis - Session 41
  blog/2026-01-30-pos-to-easysale-feature-integration.md
  memory-bank/active-state.md
Due: none

Path conditions:
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/node_modules/**, **/dist/**, **/target/**
  backend: any of: backend/crates/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/node_modules/**, **/dist/**, **/target/**
